<p>
    <mat-toolbar class="check">
        <mat-toolbar-row>
            <div class="col-2 justify-content-start">
                <a class="navbar-brand" [routerLink]="['/']"><mat-icon [ngStyle]="{'color':'green'}" class="maticontoolbar">done_all</mat-icon><strong>ToDoList</strong></a>
            </div>
            <div class="col-8">
                <div class="input-group justify-content-center">
                    <!--<input class="form-control py-2 rounded-pill mr-1 pr-5" type="search" id="example-search-input">
                    <span class="input-group-append">
                        <button class="btn rounded-pill border-0 ml-n5" type="button">
                            <mat-icon>search</mat-icon>
                        </button>
                    </span>-->
                </div>
            </div>

            <div class="col-2 ">
                <div *ngIf="!loggedIn()">
                    <div class="flex justify-content-end">
                        <button mat-stroked-button color="primary" class="topbutton" [routerLink]="['/register']">
                            SignUp
                        </button>
                        <button mat-raised-button class="topbutton" [ngStyle]="{'background-color':'darkgreen', 'color':'white'}" [routerLink]="['/login']">
                            SignIn
                        </button>
                    </div>
                </div>
                <div *ngIf="loggedIn()">
                    <div class="flex justify-content-end">
                        <!--<a color="primary" class="topbutton">
                            {{UserDetails.fullName}}
                        </a>-->
                        <!--<button mat-raised-button class="topbutton" [ngStyle]="{'background-color':'red', 'color':'white'}" (click)="Logout()">
                            LogOut
                        </button>-->
                        <button mat-stroked-button [ngStyle]="{'background-color':'green', 'color':'white'}" (click)="TakeNote()">Take Note</button>
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                            <mat-icon>account_circle</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item >
                               {{UserDetails?.fullName}}
                            </button>
                            <mat-divider></mat-divider>
                            <button mat-menu-item  (click)="Logout()">
                                LogOut
                            </button>
                        </mat-menu>

                    </div>
                </div>

            </div>
        </mat-toolbar-row>
    </mat-toolbar>
</p>


<div class="container-fluid" *ngIf="!loggedIn()">
    <div align="center">
        <h1> Organize your mind, work and life</h1>
        <h1> Focus on your tasks</h1>
        <img src="https://www.investintech.com/resources/blog/wp-content/uploads/2018/02/To-Do-List.png" style="width:1000px"/>
    </div>
</div>

<div class="container" *ngIf="loggedIn()" >

    <div align="center" >
            <mat-card class="panel" *ngIf="takeNote">

                <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
                    <mat-form-field class="title" appearance="outline">
                        <mat-label>Enter you tasks</mat-label>
                        <input matInput placeholder="Enter you tasks" formControlName="title">
                    </mat-form-field>
                    <div formArrayName="steps">
                        <mat-form-field class="substep" appearance="outline" *ngFor="let step of steps().controls; let i=index" [formGroupName]="i">
                            <mat-label>Enter you tasks</mat-label>
                            <input matInput placeholder="Enter you tasks" formControlName="stepText">
                            <button matSuffix mat-icon-button type="button" (click)="removeStep(i)">
                                <mat-icon>close</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <!--<button mat-icon-button (click)="notify()" *ngIf="notifyme" [ngStyle]="{'color':'orange'}">
                    <mat-icon>notifications</mat-icon>
                </button>
                <button mat-icon-button (click)="notify()" *ngIf="!notifyme">
                    <mat-icon>notifications_none</mat-icon>
                </button>-->
                        <mat-form-field class="datepicker" appearance="outline">
                            <input matInput [matDatepicker]="picker" placeholder="Deadline" formControlName="deadline">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>

                        <button mat-raised-button style="margin-left:20px; height: 36px" type="button" [disabled]="(form.get('title').touched && form.get('title').value==='') || form.get('title').pristine" (click)="addStep()">Add steps</button>
                    </div>
                    <div class="row buttons">
                        <button mat-raised-button color="primary" style="margin-right:5px;" type="submit" [disabled]="(form.get('title').touched && form.get('title').value==='') || form.get('title').pristine">Add</button>
                        <button mat-flat-button  style="margin-right:5px;" type="button" (click)="Cancel()">Cancel</button>
                    </div>
                </form>
            </mat-card>
      
    </div>
    <mat-divider class="todolistheader"></mat-divider>
    <div align="center">
        <h3>To-Do List</h3>
    </div>

    <mat-divider></mat-divider>

    <div *ngFor="let item of toDoList; let i=index" align="center">
        <mat-card style="background-color: white" class="card" *ngIf="activeToDo!=i">
            
            <mat-card-header >
                <mat-checkbox color="primary">{{item.text}}</mat-checkbox>
                <!--<span> <i [ngClass]="item.done? 'bi bi-check-circle':'bi bi-circle'" (click)="statusChange(i)"></i> <span [ngClass]="item.done? 'strikethrough' : 'null'"> {{item.text}} </span></span>-->

            </mat-card-header>
            <mat-divider></mat-divider>
         
            <mat-card-content align="left" style="margin-top:10px">
                <div *ngFor="let sub of item.steps; let j=index">
                    <mat-checkbox color="accent" class="subcheckbox" (change)="onSubCheck($event , i,j)" [(ngModel)]="sub.isFinished">
                        {{sub.stepText}}
                    </mat-checkbox>
                </div>


                <div  align="left">
                    <span>
                        progress
                        <mat-slider class="mat-slider"
                                    [max]="100"
                                    [min]="0"
                                    [step]="1"
                                    [disabled]="false"
                                    [thumbLabel]="true"
                                    (change)="progressChange(i, $event)"
                                    [value]="value">
                            <input matSliderThumb >
                        </mat-slider>
                    </span>
                </div>
            </mat-card-content>
            <mat-divider></mat-divider>
            <mat-card-actions class="row">
                <mat-chip-list>
                    <mat-chip *ngIf="item.deadline!=null">
                        {{item.deadline | date : 'E, MMM d, y'}}
                    </mat-chip>
                    <mat-chip>
                        <button mat-icon-button type="button" (click)="edit(i)">
                            <mat-icon class="editbuttonicon">edit</mat-icon>
                        </button>
                    </mat-chip>
                    <mat-chip>
                        <button mat-icon-button type="button" (click)="Delete(i)">
                            <mat-icon class="editbuttonicon">delete</mat-icon>
                        </button>
                    </mat-chip>
                </mat-chip-list>
                

            </mat-card-actions>

        </mat-card>
        <mat-card class="panel" *ngIf="editMode && activeToDo==i">

            <form class="form" [formGroup]="editForm" (ngSubmit)="Update(i)">
                <mat-form-field class="title" appearance="outline">
                    <mat-label>Enter you tasks</mat-label>
                    <input matInput placeholder="Enter you tasks" formControlName="titleEdit">
                </mat-form-field>
                <div formArrayName="stepsEdit">
                    <mat-form-field class="substep" appearance="outline" *ngFor="let step of stepsEdit().controls; let k=index" [formGroupName]="k">
                        <mat-label>Enter you tasks</mat-label>
                        <input matInput placeholder="Enter you tasks" formControlName="stepTextEdit">
                        <button matSuffix mat-icon-button type="button" (click)="removeStepEdit(k)">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <div class="row">
                    <!--<button mat-icon-button (click)="notify()" *ngIf="notifyme" [ngStyle]="{'color':'orange'}">
                    <mat-icon>notifications</mat-icon>
                </button>
                <button mat-icon-button (click)="notify()" *ngIf="!notifyme">
                    <mat-icon>notifications_none</mat-icon>
                </button>-->
                    <mat-form-field class="datepicker" appearance="outline">
                        <input matInput [matDatepicker]="picker" placeholder="Deadline" formControlName="deadlineEdit">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>

                    <button mat-raised-button style="margin-left:20px; height: 36px" type="button" (click)="addStepEdit()">Add steps</button>
                </div>
                <div class="row buttons">
                    <button mat-raised-button color="primary" type="submit">Update</button>
                    <button mat-flat-button (click)="cancelEdit()">Cancel</button>
                </div>
            </form>
        </mat-card>


    </div>





</div>